/* Reset CSS 一旦全部消す*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

.menu_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_menu_left ul,
.top_menu_right ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.top_menu_left ul li,
.top_menu_right ul li {
    display: inline-block;
    margin-left: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.login_form {
    max-width: 75%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login_form h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="user"],
input[type="password"], 
input[type="text"],
input[type="tel"],
input[type="mail"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}