/* Reset CSS 一旦全部消す*/
* {
    margin: 0;
    
    box-sizing: border-box;
}

body {
    background-color: #FFF6E9;
}

header {
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 5px;
}

.sub_header{
    display:flex; 
    background-color: white;
}
.sub_header_box1{
    display: flex;
    justify-content: center;
    flex-flow: column;
    width: 80%;
    height: 40px;
    background-color: #43AEA9;
}
.sub_header_box2{
    width: 20%;
    background-color: #43AEA9;
}

.menu {
    width: 100%;
}
.menu_button{
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        margin: 10px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        border-radius: 10px;
        background-color: #43AEA9;
      } 
      
      .menu_button:hover {
        background-color: #557981;
      }
      
      .menu_button:active {
        box-shadow:
          inset -2px -2px 3px rgba(255, 255, 255, 0.6),
          inset 2px 2px 3px rgba(0, 0, 0, 0.6);
      }


.iconImg {
    border-radius: 50%;
    object-fit: cover;
}
    
    

.logo {
    height: 60px;
    width: 100%;
    text-align: center;
}

.logo2{
    height: 60px;
}

.icon {
    width: 100%;
}

.flexBox {
    display: flex;
}

#flexBox{
    display:flex; 
}


#flexBox{
    display:flex; 
}

.flexItem{
    width: 130px;
}
a {
    color: #fff;
    text-decoration: none;
}

.login_form {
    max-width: 75%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login_form h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input[type="user"],
input[type="password"], 
input[type="text"],
input[type="tel"],
input[type="mail"],
input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #43AEA9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #557981;
}
p{
    color:#ffff;
    font-size: 80%;
}
button.home_button {
    margin-top: 10px; /* 登録ボタンとの間隔 */
    width: 40%;
    padding: 10px;
    background-color: #beca16;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    text-align: center;
}

button.home_button:hover {
    background-color: #557981;
}

button.home_button:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.link_button{
    min-width: 25%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px;
    background-color: #43AEA9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.link_button:hover {
    background-color: #557981;
}
