/* Reset CSS 一旦全部消す*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ここからヘッダー */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
}

.menu_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_menu_left ul,
.top_menu_right ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

.top_menu_left ul li,
.top_menu_right ul li {
    display: inline-block;
    margin-left: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

.login_form {
    max-width: 75%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login_form h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* 画面全体をフィルするための最小の高さ */
    display: flex;
    flex-direction: column; /* コンテンツを縦に並べる */
  }

  
  .flexBox {
    display: flex;
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    height: 20vh; /* 中央揃えする要素の高さ */
  }

  #map {
      height: 100%; /* マップの表示領域の高さ */
      width: 100%; /* マップの表示領域の幅 */
      margin:0 25px 0 25px;
  }



/* ここからフッター */

  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: fixed; /* 画面下部に固定 */
    bottom: 0;
    left: 0;
    z-index: 1000; /* 他の要素よりも前面に表示 */
    display: flex;
    flex-wrap: wrap; /* ブロックを横並びに */
    justify-content: space-between; /* ブロックを均等に配置 */
  }
  .footer-block {
    width: calc(100% / 3 - 20px); /* 画面幅の1/3に設定 */
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .footer-block h3 {
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
  }
  .footer-block ul {
    list-style-type: none;
    padding: 0;
  }
  .footer-block ul li {
    margin-bottom: 10px;
  }

  /* スマートフォン用のスタイル */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column; /* 縦に並べる */
      align-items: center; /* 中央に配置 */
      padding: 10px 0;
    }
    .footer-block {
      width: 100%; /* 画面幅いっぱいに広げる */
      margin-bottom: 20px;
    }
  }