body {
    background-color: #FFF6E9;
}

header {
    width: 100%;
    height: 60px;
    top: 0; /* 上部から配置の基準位置を決める */
    background-color: white;
    position: fixed;
    z-index: 100;
}

.logout_form{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 101%;
    margin: 0px 25px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #43AEA9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #557981;
}
p{
    color:red;
    font-size: 80%;
}


footer {
    background-color: #fff;
    color: #fff;
    width: 100%;
    height: 60px;
    bottom: 0; /* 上部から配置の基準位置を決める */
    background-color: white;
    position: fixed
}

#flexBox02{
    display:flex; 
}

.flexItem02{
    height: 70px;
    width: 100%;
    margin: 0 1px 0 0;
    text-align: center;
    background-color: #43AEA9;
}

/* ここからフッターの要素 */
.loadingBar {
    width: 0;
    height: 4px;
    background: #03a7eb;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s linear 0s;
}

.progress {
    position: relative;
    width: 90%;
    height: 10px;
    margin: 15px auto 0 auto;
    background-color: #f3f3f3;
    border-radius: 12px;
    overflow: hidden;
}
.progress-bar {
    position: absolute;
    height: 100%;
    background-color: #557981;
    width: 0;
    transition: width 0.4s ease;
}

.menu {
    width: 100%;
}

.logo {
    height: 60px;
    width: 100%;
    text-align: center  ;
}

.logo2 {
    height: 60px;
}

.icon {
    width: 100%;
}

.flexBox {
    display: flex;
    box-shadow: 0px 0px 5px;
}

.map {
    text-align: center;
    margin-top: 50px;
}

.map2 {
    width: 360px;
    margin: 0 auto;
}

.userFlex{
    display: flex;
    height: 90px;
    margin: 90px 16px 0 16px;
    background-color: white;
    border: 1px solid#43AEA9;
}

.userFlexItem {
    width: 100%;
}

.irasto {
    height: 88px;
}

.pointArea {
    display: flex;
    justify-content: center;
}

.point {
    width: 20px;
}

.center {
    text-align: center;
}

.footer {
    height: 60px;
    background-color: #43AEA9;
}

.photo3 {
    margin-bottom: 5px;
}

.search-toggle {
    display: flex;
    justify-content: center; /* ボタンを中央揃え */
    align-items: center;
    gap: 10px; /* ボタン間の隙間 */
    margin-bottom: 10px; /* 地図との間隔 */
    position: relative;
    top: -10px; /* 必要に応じて微調整 */
    z-index: 10; /* 地図より上に表示 */
}

#mapSearchBtn, #keywordSearchBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#mapSearchBtn:hover, #keywordSearchBtn:hover {
    background-color: #0056b3;
}

.search-toggle{
    margin-top :100px;
}

.areainfo{
    text-align: center;
}