/* Reset CSS 一旦全部消す*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF6E9;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    background-color: #fff;
    color: #fff;
    position: fixed; /* ヘッダーを固定する */
}

footer {
    background-color: #fff;
    color: #fff;
}

#flexBox01{
    display:flex; 
}

#flexBox02{
    display:flex; 
}

.flexItem01{
    height: 70px;
    width: 130px;
}

.flexItem02{
    height: 70px;
    width: 130px;
    margin: 0 1px 0 0;
    text-align: center;
    background-color: #43AEA9;
}

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を小さくして最背面へ*/
    position:fixed;
	z-index: -1;
	opacity: 0;/*はじめは透過0*/
    /*ナビの位置と形状*/
	top:0;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#999;
    /*動き*/
	transition: all 0.3s;
}

/*アクティブクラスがついたら透過なしにして最前面へ*/
#g-nav.panelactive{
	opacity: 1;
	z-index:999;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    display: none;
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav.panelactive ul {
    display: block;
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center; 
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:5px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #666;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/* ここからメインの要素 */
#testBox{
    width: 500px;
    padding: 500px;
}


/* ここからフッターの要素 */
.loadingBar {
    width: 0;
    height: 4px;
    background: #03a7eb;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s linear 0s;
}

.progress {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #f3f3f3;
    border-radius: 12px;
    overflow: hidden;
}
.progress-bar {
    position: absolute;
    height: 100%;
    background-color: #557981;
    width: 0;
    transition: width 0.4s ease;
}
