body {
    background-color: #FFF6E9;
}

header {
    width: 100%;
    height: 60px;
    top: 0; /* 上部から配置の基準位置を決める */
    background-color: white;
    position: fixed
}


footer {
    background-color: #fff;
    color: #fff;
    width: 100%;
    height: 60px;
    bottom: 0; /* 上部から配置の基準位置を決める */
    background-color: white;
    position: fixed
}

#flexBox02{
    display:flex; 
}

.flexItem02{
    height: 70px;
    width: 100%;
    margin: 0 1px 0 0;
    text-align: center;
    background-color: #43AEA9;
}

/* ここからフッターの要素 */
.loadingBar {
    width: 0;
    height: 4px;
    background: #03a7eb;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s linear 0s;
}

.progress {
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #f3f3f3;
    border-radius: 12px;
    overflow: hidden;
}
.progress-bar {
    position: absolute;
    height: 100%;
    background-color: #557981;
    width: 0;
    transition: width 0.4s ease;
}

.menu {
    width: 100%;
}

.logo {
    height: 60px;
    width: 100%;
    text-align: center  ;
}

.logo2 {
    height: 60px;
            }

.icon {
    width: 100%;
}

.flexBox {
    display: flex;
}

.map {
    text-align: center;
    margin-top: 100px;
}

.map2 {
    width: 360px;
    margin: 0 auto;
}

.userFlex{
    display: flex;
    height: 90px;
    margin: 20px 16px 0 16px;
    background-color: white;
    border: 1px solid#43AEA9;
}

.userFlexItem {
    width: 100%;
}

.irasto {
    height: 88px;
}

.pointArea {
    display: flex;
    justify-content: center;
}

.point {
    width: 20px;
}

.center {
    text-align: center;
}

.footer {
    height: 60px;
    background-color: #43AEA9;
}

/* @media screen and (min-width:400px) { 
} */