/* Reset CSS 一旦全部消す*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF6E9;
}

header {
    background-color: #fff;
    color: #fff;
}

#flexBox{
    display:flex; 
}

.flexItem{
    width: 130px;
}

a {
    color: #fff;
    text-decoration: none;
}

.login_form {
    max-width: 75%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login_form h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

/* 入力フォームを追加した場合、ここにtypeを記入するだけでｃｓｓが動いてくれる
また、入力フォームを弄る場合はここのｃｓｓを書き換える
*/
input[type="user"],
input[type="text"],
input[type="password"]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #43AEA9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #557981;
}