* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
            max-width: 75%;
margin: 100px auto;
background-color: #fff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
text-align: center;
}

a {
color: #1a73e8;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.link_button {
display: inline-block;
margin: 10px 0;
padding: 10px 20px;
background-color: #43AEA9;
color: #fff;
text-align: center;
border-radius: 4px;
text-decoration: none;
}

.link_button:hover {
background-color: #557981;
}

.yoyaku_button{
display: inline-block;
margin: 10px 40px;
padding: 10px 10px;
background-color: #43AEA9;
color: #fff;
text-align: center;
border-radius: 4px;
text-decoration: none;
}

.yoyaku_button:hover{
background-color: #557981;
}

li {
list-style: none;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ddd;
border-radius: 4px;
background-color: #f9f9f9;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
